
<h3>Select Harvest Projects</h3>
<div class="wrapper">
  <div *ngFor="let project of projects" class="item">
    <mat-checkbox [(ngModel)]="project.checked" (change)="updateProject(project, $event)">{{project.name}}</mat-checkbox>
  </div>
</div>
<div class="button-group">
  <button mat-button
          type="button"
          (click)="back()"
          class="skip-button"
          href="#">Back</button>
  <button mat-raised-button
          color="primary"
          class="submit-button"
          type="submit"
          (click)="next()"
          href="#">Next</button>
</div>
