<h3 mat-dialog-title
    [class.error]="error"
    [class.success]="success"
    [class.warning]="warning">{{title}}</h3>
<mat-dialog-content>
  <p *ngFor="let message of messages">{{message}}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button
    *ngIf="dismissible"
    (click)="dialogRef.close(false)">Cancel</button>
  <button mat-raised-button
    color="primary"
    autofocus="true"
    (click)="dialogRef.close(true)">OK</button>
  <span class="clear"></span>
</mat-dialog-actions>
