<div align="center">
  <mat-card class="form-card">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <h3 class="form-title">Emergency Contact Information</h3>

      <mat-input-container class="form-half-full-width">
        <input autocomplete="false" type="text" formControlName="lastName"
          matInput placeholder="Last Name*">
      </mat-input-container>
      <mat-input-container class="form-quarter-full-width">
        <input autocomplete="false" type="text" formControlName="firstName"
          matInput placeholder="First Name*">
      </mat-input-container>
      <mat-input-container class="form-quarter-full-width">
        <input autocomplete="false" type="text" formControlName="middleInitial"
          matInput placeholder="M.I">
      </mat-input-container>


      <mat-input-container class="form-three-fourths-full-width">
        <input autocomplete="false" type="text" formControlName="streetAddress"
          matInput placeholder="Street Address*">
      </mat-input-container>
      <mat-input-container class="form-quarter-full-width">
        <input autocomplete="false" type="text" formControlName="apartmentUnit"
          matInput placeholder="Apartment/Unit #">
      </mat-input-container>


      <mat-input-container class="form-half-full-width">
        <input autocomplete="false" type="text" formControlName="city"
               matInput placeholder="City*">
      </mat-input-container>
      <mat-input-container class="form-quarter-full-width">
        <input autocomplete="false" type="text" formControlName="state"
               matInput placeholder="State*">
      </mat-input-container>
      <mat-input-container class="form-quarter-full-width">
        <input autocomplete="false" type="text" formControlName="zipCode"
               matInput placeholder="ZIP Code*">
      </mat-input-container>


      <mat-input-container class="form-half-full-width">
        <input autocomplete="false" type="text" formControlName="primaryPhone"
               matInput placeholder="Primary Phone*">
      </mat-input-container>
      <mat-input-container class="form-half-full-width">
        <input autocomplete="false" type="text" formControlName="altPhone"
               matInput placeholder="Alternate Phone">
      </mat-input-container>


      <mat-input-container class="form-full-width">
        <input autocomplete="false" type="text" formControlName="relationship"
               matInput placeholder="Relationship">
      </mat-input-container>

      <div class ="text-right">
        <button mat-raised-button
                color="primary"
                class="submit-button"
                type="submit"
                href="#">Submit</button>
      </div>
    </form>
  </mat-card>
</div>
