.form-title {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.form-card {
  width: 80%;
  padding: 30px;
  align-items: center;
}

.form-full-width {
  width: 100%;
  font-size: 20px;
}

.form-three-fourths-full-width {
  width: 74%;
  font-size: 20px;
}

.form-half-full-width {
  width: 49%;
  font-size: 20px;
}

.form-quarter-full-width {
  width: 24%;
  font-size: 20px;
}

