<div class="col-sm-6 col-sm-offset-3">
  <mat-progress-bar
    *ngIf="mode=='indeterminate'"
    class="example-margin"
    color="primary"
    mode={{mode}}>
  </mat-progress-bar>
  <mat-card *ngIf="page != 4" class="form-card">
    <app-user-information *ngIf="page == 1"></app-user-information>
    <app-misc-information *ngIf="page == 2"></app-misc-information>
    <app-harvest-information *ngIf="page == 3"></app-harvest-information>
    <app-review-information *ngIf="page == 5"></app-review-information>
  </mat-card>
  <app-welcome-letter *ngIf="page == 4" #welcomeLetter></app-welcome-letter>
</div>
