.form-full-width {
  width: 100%;
  font-size: 20px;
}

.form-card {
  padding: 30px;
  height: 585px;
}

.test {
  width: 100%;
  display: inline-block;
}

.text-right {
  margin-top: 70px;
}

.submit-button {
  color: white;
  width: 36%;
  padding: 8px;
  font-size: 16px;
}

.skip-button {
  padding: 8px;
  font-size: 16px;
}

.checkbox-group {
  display: inline-flex;
  flex-direction: column;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

mat-checkbox {
  margin-right: 10px;
}
mat-radio-button {
  margin-bottom: 4px;
}

mat-radio-group {
  margin-right: 10px;
}

mat-select {
  width: 50%;
  float: right;
}

.date-picker {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 50%;
  float: left;
}

.button-group {
  padding: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}
