<div align="center">

  <mat-card class="form-card">
    <form [formGroup]="myForm" (ngSubmit)="onLogIn()">

      <h3 class="form-title">Admin Console</h3>

      <mat-input-container class="form-full-width">
        <input autocomplete="false" type="text" formControlName="username"
               matInput placeholder="Username">
      </mat-input-container>

      <mat-input-container class="form-full-width">
        <input autocomplete="false" type="password" formControlName="password"
               matInput placeholder="Password">
      </mat-input-container>

      <div class ="text-right">
          <button mat-raised-button
                  color="primary"
                  class="submit-button"
                  type="submit"
                  href="#">Log in</button>
        </div>

    </form>

    <div id="gdbtn" (click)="googleLogin()"></div>
    <a (click)="signOut();">Sign out</a>

  </mat-card>

</div>
