.form-title {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.form-card {
  text-align: left;
  width: 450px;
  height: 400px;
  padding: 30px;
  align-items: center;
  margin-bottom: 100px;
  margin-right: 32px;
}

.form-full-width {
  width: 100%;
  font-size: 20px;
}

.form-three-fourths-full-width {
  width: 74%;
  font-size: 20px;
}

.form-half-full-width {
  width: 49%;
  font-size: 20px;
}

.form-quarter-full-width {
  width: 24%;
  font-size: 20px;
}

md-select {
  text-align: left;
  width: 25%;
  float: left;
  font-size: 20px;
}
