<div class="col-sm-6 col-sm-offset-3">
  <mat-card class="form-card-small">
    <h3>Dental</h3>
    <h4>The dental program at productOps is voluntary and not supplemented by productOps. If you’re interested in enrolling, please review the plan summaries on the Ameritas Dental Highlight Sheet and print / complete the Enrollment Group Insurance Form.</h4>
    <div class ="text-center">
      <button mat-raised-button
              color="primary"
              (click)="open()"
              class="submit-button"
              type="submit"
              href="#">Dental Form</button>
    </div>
  </mat-card>
</div>
