<div align="center">

  <mat-card class="form-card">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <h3 class="form-title">Personal Information</h3>

      <div class="form-container">

        <mat-input-container class="form-half-full-width">
          <input autocomplete="false" type="text" formControlName="lastName"
                 matInput placeholder="Last Name*" [ngModel]="user.last_name">
        </mat-input-container>
        <mat-input-container class="form-quarter-full-width">
          <input autocomplete="false" type="text" formControlName="firstName"
                 matInput placeholder="First Name*" [ngModel]="user.first_name">
        </mat-input-container>
        <mat-input-container class="form-quarter-full-width">
          <input autocomplete="false" type="text" formControlName="middleInitial"
                 matInput placeholder="M.I">
        </mat-input-container>


        <mat-input-container class="form-three-fourths-full-width">
          <input autocomplete="false" type="text" formControlName="streetAddress"
                 matInput placeholder="Street Address*">
        </mat-input-container>
        <mat-input-container class="form-quarter-full-width">
          <input autocomplete="false" type="text" formControlName="apartmentUnit"
                 matInput placeholder="Apartment/Unit #">
        </mat-input-container>

        <mat-input-container class="form-half-full-width">
          <input autocomplete="false" type="text" formControlName="city"
                 matInput placeholder="City*">
        </mat-input-container>
        <mat-input-container class="form-quarter-full-width">
          <input autocomplete="false" type="text" formControlName="state"
                 matInput placeholder="State*">
        </mat-input-container>
        <mat-input-container class="form-quarter-full-width">
          <input autocomplete="false" type="text" formControlName="zipCode"
                 matInput placeholder="ZIP Code*">
        </mat-input-container>


        <mat-input-container class="form-half-full-width">
          <input autocomplete="false" type="text" formControlName="homePhone"
                 matInput placeholder="Home Phone*">
        </mat-input-container>
        <mat-input-container class="form-half-full-width">
          <input autocomplete="false" type="text" formControlName="altPhone"
                 matInput placeholder="Alternate Phone">
        </mat-input-container>

          <mat-input-container class="form-full-width">
            <input autocomplete="false" type="text" formControlName="birthday"
                   matInput placeholder="Birth date (MM/DD/YY)*">
          </mat-input-container>

        <mat-input-container class="form-full-width">
          <input autocomplete="false" type="text" formControlName="spouseName"
                 matInput placeholder="Spouse's Name">
        </mat-input-container>
        <mat-input-container class="form-half-full-width">
          <input autocomplete="false" type="text" formControlName="spouseEmployer"
                 matInput placeholder="Spouse's Employer">
        </mat-input-container>
        <mat-input-container class="form-half-full-width">
          <input autocomplete="false" type="text" formControlName="spouseWorkPhone"
                 matInput placeholder="Spouse's Work Phone">
        </mat-input-container>

        <mat-select placeholder="Computer Preference*" formControlName="computer" name="computer">
          <mat-option *ngFor="let computer of computers" [value]="computer">
            {{computer}}
          </mat-option>
        </mat-select>

        <div class ="text-right">
          <button mat-raised-button
                  color="primary"
                  class="submit-button"
                  type="submit"
                  href="#">Submit</button>
      </div>

      </div>

    </form>

  </mat-card>

</div>
